body {
	width: 100%;
	height: 100%;
}
.canvas__container {
    position: absolute;
    background: white;
    width: 90%;
    height: 70%;
    left: 5%;
    top: 15%;
}
.canvas__container canvas{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}